name: CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
  workflow_dispatch:

jobs:
  deploy:
    runs-on: "ubuntu-latest"

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - uses: "actions/checkout@v4"

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v1"

      - name: "Set default region"
        run: gcloud config set compute/region asia-southeast1

      - name: "Install and Build"
        run: |
          npm ci
          npm run build
  
      - name: Deploy app to Google Cloud App Engine
        run: gcloud app deploy app.yaml --project ${{ secrets.GCP_PROJECT_ID }}

